<div class="row">
  <div class="form">
    <h2>Sign up</h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="small-12 columns">
        <%= f.label :username %><br />
        <%= f.text_field :username, :autofocus => true %>
      </div>

      <div class="small-12 columns">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div class="small-12 columns">
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </div>

      <div class="small-12 columns">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %>
      </div>

      <div class="center">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
