<div class="analytics-holder">
  <h1 class="text-center">Analytics</h1>
  <h3 class="text-center">Comparison of Pageviews and Unique Visits Per Day</h3>

  <div id="chart"></div>

  <%= link_to "Download data", album_visits_path(@album, format: "csv") %>

  <div class = "spacer"></div>

  <h3 class="text-center">Total Pageviews and Unique Visits</h3>

    <p class="text-center">Pageviews: <%= @pageviews %></p>
    <p class="text-center">Unique Pageviews: <%= @unique_visits_count %></p>

  <div class = "spacer"></div>

  <div id="container"></div>

  <%= content_for :extra_footer do %>
    <script src="http://code.highcharts.com/maps/highmaps.js"></script>
    <script src="http://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="http://code.highcharts.com/mapdata/countries/us/us-all.js"></script>
    <%= javascript_include_tag "chloropleth_map" %>
    <%= javascript_include_tag "line_chart" %>

    <script type="text/javascript">
      var data = <%= raw @map_data.to_json %>;
    </script>

  <% end %>
</div>
