<h1>Analytics</h1>
<h3>Comparison of Pageviews and Unique Visits Per Day</h3>
<ul>
  <li>Total Pageviews: <%= @pageviews %></li>
  <li>Total Unique Pageviews: <%= @unique_visits_count %></li>
</ul>

<div id="chart"></div>

<%= link_to "Download data", album_visits_path(@album, format: "csv") %>

<div class = "spacer"></div>

<h3>Total Number of Pageviews by State</h3>

<div id="container"></div>

<% if !Rails.env.test? %>
  <%= content_for :extra_footer do %>
    <script src="http://code.highcharts.com/maps/highmaps.js"></script>
    <script src="http://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="http://code.highcharts.com/mapdata/countries/us/us-all.js"></script>

    <script type="text/javascript">
      var data = <%= raw @map_data.to_json %>;
    </script>

  <% end %>
<% end %>
