<div class="row">
  <div class="form">
    <div class="small-12 columns">
      <h2>Change your password</h2>
    </div>

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="small-12 columns">
        <%= f.label :password, "New password" %><br />
        <%= f.password_field :password, :autofocus => true %>
      </div>

      <div class="small-12 columns">
        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation %>
      </div>

      <div class="center">
        <%= f.submit "Change my password" %>
      </div>
    <% end %>

    <div class="small-12 columns">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
