<h1>Create a new album</h1>

<ul>
  <% if @album.errors.any? %>
    <% @album.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= form_for @album, url: albums_path, html: { multipart: true } do |f| %>
  <div>
    <%= f.label :name, "Album Name" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.fields_for :photos do |photo| %>
      <% if photo.object.new_record? %>
        <p>
          <%= photo.file_field :photo %>
        </p>
      <% end %>
    <% end %>
  </div>
  <%= f.fields_for :photos do |photo| %>
    <% unless photo.object.new_record? %>
      <p>
        <%= link_to image_tag(photo.object.photo.url(:thumb)),
          photo.object.photo.url(:original) %>
        <%= photo.check_box :_destroy %>
      </p>
    <% end %>
  <% end %>
  <div>
    <%= f.submit "Create Album" %>
  </div>
<% end %>
