<div class="black-background">
  <div class="row">
    <div id="slider" class="flexslider">
      <ul class="slides">
        <% n = 0 %>
        <% @photos.each do |photo| %>
        <li>
          <div class="center-helper">
            <%= link_to(image_tag(photo.photo.url(:large)), album_photo_path(@album, photo), id: "photo#{n}") %>
            <% n += 1 %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div id="carousel" class="flexslider">
      <ul class="slides">
        <% n = 1 %>
        <% @photos.each do |photo| %>
        <li>
          <%= link_to(image_tag(photo.photo.url(:thumb)), "#") %>
          <% n += 1 %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


<div class="row2 panel photo">
  <h1><%= @album.name %></h1>
  <blockquote>
    <%= @album.description %>
    <p>
      ~ <%= link_to(@album.user.username, user_path(@album.user)) %>
    </p>
  </blockquote>
</div>
<% if @album.user == current_user %>
  <div class="row2 panel photo">
    <div class="table">
    <ul class="inline-list">
      <li class="button"><%= link_to "Edit album", edit_album_path %></li>
      <li class="button"><%= link_to "View Album Analytics", album_analytics_path(@album) %></li>
      <li class="button delete"><%= link_to "Delete Album", album_path(@album), method: :delete %></li>
    </ul>
  </div>
  </div>
<% end %>
