<div class="black-background">
  <div class="row">
    <%= image_tag(@photo.photo.url(:large), class: "only-photo") %>
  </div>
</div>

<div class="text-center panel photo">
  <h1><%= link_to @album.name, album_path(@album) %></h1>
  <p>
    <%= @album.description %>
  </p>
  <div id = "user">
    <%= @album.user.username %>
  </div>
  <% if current_user == @album.user %>
    <%= link_to "Edit Photo", edit_album_photo_path(@album, @photo) %>
  <% end %>
</div>

