<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= yield(:title) %> | Photoz</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar" data-topbar>
      <ul class="title-area">

        <li class="name">
          <h1>
            <a href="/">
              Photoz
            </a>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
      </ul>

      <section class="top-bar-section">

        <ul class="right">
          <li class="divider"></li>
          <li>
            <%= link_to "New Album", new_album_path %>
          </li>
          <% if !user_signed_in? %>
            <li class="divider"></li>
            <li>
              <%= link_to "Sign In", new_user_session_path %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to "Sign Up", new_user_registration_path %>
            </li>
          <% else %>
            <li class="divider"></li>
            <li>
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to current_user.username, "#" %>
            </li>
          <% end %>
        </ul>

      </section>
    </nav>

      <div class="notice"><%= notice %></div>
      <div class="alert"><%= alert %></div>

      <%= yield %>
      <%= javascript_include_tag "application" %>

      <footer class="row">
        <div class="large-12 columns"><hr/>

          <div class="large-6 columns">
            <p>© 2014 Photoz</p>
          </div>

        </div>
      </footer>
    </div>
  </div>
  </body>
</html>
